@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body{
    background-color: rgb(240, 245, 255);
    font-family: 'Inter', sans-serif;
}
.bigcontainer{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding: 0 50px;
    gap: 60px;
    background-color: rgb(240, 245, 255);
    border-radius:40px ;
}
.container{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:60px;
    
}
.image{
    display: flex;
    flex-direction: row;
    width:441.5px;
    height: 658.5px;
    margin-left:100px ;
    border-radius: 40px;
    border: 1px solid #ffffff;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
}
.login {
  background-color: white;
  padding: 40px 30px;
  border-radius: 30px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  
  
}

.head h1 {
  margin: 0;
  font-size: 60px;
  text-align: center;
}

.head h2 {
  margin: 5px 0 20px;
  color: #888;
  text-align: center;
}

.text input {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
  align-items: center;
}

.buttons input {
  width: 300px;
  padding: 12px;
  margin-top: 10px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  background-color: rgb(98, 145, 240);
  color: white;
  cursor:pointer;
  transition: background-color 0.2s;
  align-items: center;
}
#signup {
  background-color:white;
  color: rgb(0, 0, 0);
  border-radius: 8px;
  border: 1px solid #ccc;
}
.buttons input:hover {
  background-color: rgb(47, 114, 249)
}
#signup:hover {
  background-color:#acabab;
  color:white;
}